# EA 1 Object 1
## Upload csv files to database

### For structured data we upload csv files into postgresql DB

### Importing necessary libraries

In [1]:
import pandas as pd
import psycopg2 
from  sqlalchemy  import create_engine

### Loading sql magic function

In [2]:
%load_ext sql

### Connecting to postgre @ database : ea_test that we created in conda prompt

In [3]:
%sql postgresql://localhost/ea_test

'Connected: @ea_test'

### Create tables block

In [4]:
%%sql 

DROP TABLE IF EXISTS player_attribute;

CREATE TABLE player_attribute
(
    PK serial PRIMARY KEY,
    Acceleration VARCHAR(255) ,
    Aggression VARCHAR(255) ,
    Agility VARCHAR(255) ,
    Balance VARCHAR(255) ,
    Ball_control VARCHAR(255) ,
    Composure VARCHAR(255) ,
    Crossing VARCHAR(255) ,
    Curve VARCHAR(255) ,
    Dribbling VARCHAR(255) ,
    Finishing VARCHAR(255) ,
    Free_kick_accuracy VARCHAR(255) ,
    GK_diving VARCHAR(255) ,
    GK_handling VARCHAR(255) ,
    GK_kicking VARCHAR(255) ,
    GK_positioning VARCHAR(255) ,
    GK_reflexes VARCHAR(255) ,
    Heading_accuracy VARCHAR(255) ,
    ID VARCHAR(255) ,
    Interceptions VARCHAR(255) ,
    Jumping VARCHAR(255) ,
    Long_passing VARCHAR(255) ,
    Long_shots VARCHAR(255) ,
    Marking VARCHAR(255) ,
    Penalties VARCHAR(255) ,
    Positioning VARCHAR(255) ,
    Reactions VARCHAR(255) ,
    Short_passing VARCHAR(255) ,
    Shot_power VARCHAR(255) ,
    Sliding_tackle VARCHAR(255) ,
    Sprint_speed VARCHAR(255) ,
    Stamina VARCHAR(255) ,
    Standing_tackle VARCHAR(255) ,
    Strength VARCHAR(255) ,
    Vision VARCHAR(255) ,
    Volleys VARCHAR(255)

)
;

 * postgresql://localhost/ea_test
Done.
Done.

[]

In [5]:
%%sql

DROP TABLE IF EXISTS player_personal;

CREATE TABLE player_personal
(
PK serial  PRIMARY KEY ,
Unnamed VARCHAR (255) ,
ID VARCHAR (255) ,
Name VARCHAR (255) ,
Age VARCHAR (255) ,
Photo VARCHAR (255) ,
Nationality VARCHAR (255) ,
Flag VARCHAR (255) ,
Overall VARCHAR (255) ,
Potential VARCHAR (255) ,
Club VARCHAR (255) ,
Club_Logo VARCHAR (255) ,
Value VARCHAR (255) ,
Wage VARCHAR (255) ,
Special VARCHAR (255)
) 
;

 * postgresql://localhost/ea_test
Done.
Done.

[]

In [6]:
%%sql

DROP TABLE IF EXISTS player_playing_position;

CREATE TABLE player_playing_position
(
PK serial PRIMARY KEY ,
CAM VARCHAR (255) ,
CB VARCHAR (255) ,
CDM VARCHAR (255) ,
CF VARCHAR (255) ,
CM VARCHAR (255) ,
ID VARCHAR (255) ,
LAM VARCHAR (255) ,
LB VARCHAR (255) ,
LCB VARCHAR (255) ,
LCM VARCHAR (255) ,
LDM VARCHAR (255) ,
LF VARCHAR (255) ,
LM VARCHAR (255) ,
LS VARCHAR (255) ,
LW VARCHAR (255) ,
LWB VARCHAR (255) ,
Preferred_Positions VARCHAR (255) ,
RAM VARCHAR (255) ,
RB VARCHAR (255) ,
RCB VARCHAR (255) ,
RCM VARCHAR (255) ,
RDM VARCHAR (255) ,
RF VARCHAR (255) ,
RM VARCHAR (255) ,
RS VARCHAR (255) ,
RW VARCHAR (255) ,
RWB VARCHAR (255) ,
ST VARCHAR (255)
)
;

 * postgresql://localhost/ea_test
Done.
Done.

[]

### Importing csv files in the target tables by using copy

In [7]:
%%sql
copy player_attribute( PK,Acceleration,Aggression,Agility,Balance,Ball_control,Composure,Crossing,Curve,Dribbling,Finishing,Free_kick_accuracy,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes,Heading_accuracy,ID,Interceptions,Jumping,Long_passing,Long_shots,Marking,Penalties,Positioning,Reactions,Short_passing,Shot_power,Sliding_tackle,Sprint_speed,Stamina,Standing_tackle,Strength,Vision,Volleys )
FROM '..\data\PlayerAttributeData.csv' DELIMITER ',' CSV HEADER ;

 * postgresql://localhost/ea_test
17981 rows affected.

[]

In [8]:
%%sql 
copy player_personal(PK,Unnamed,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club_Logo,Value,Wage,Special)
FROM '..\data\PlayerPersonalData.csv' DELIMITER ',' CSV HEADER ;

 * postgresql://localhost/ea_test
17981 rows affected.

[]

In [9]:
%%sql
copy player_playing_position(PK,CAM,CB,CDM,CF,CM,ID,LAM,LB,LCB,LCM,LDM,LF,LM,LS,LW,LWB,Preferred_Positions,RAM,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST)
FROM '..\data\PlayerPlayingPositionData.csv' DELIMITER ',' CSV HEADER ;

 * postgresql://localhost/ea_test
17981 rows affected.

[]

In [10]:
%%sql 
commit;

 * postgresql://localhost/ea_test
Done.

[]

### Now we can run queries over the data model, joining tables by ID

In [11]:
%%sql 
select * from player_personal a inner join  player_attribute b on a.id=b.id   LIMIT 5;

 * postgresql://localhost/ea_test
5 rows affected.

[(1, '1', '158023', 'L. Messi', '30', 'https://cdn.sofifa.org/48/18/players/158023.png', 'Argentina', 'https://cdn.sofifa.org/flags/52.png', '93', '93', 'FC Barcelona', 'https://cdn.sofifa.org/24/18/teams/241.png', 'â‚¬105M', 'â‚¬565K', '2154', 1, '92', '48', '90', '95', '95', '96', '77', '89', '97', '95', '90', '6', '11', '15', '14', '8', '71', '158023', '22', '68', '87', '88', '13', '74', '93', '95', '88', '85', '26', '87', '73', '28', '59', '90', '85'),
 (2, '2', '190871', 'Neymar', '25', 'https://cdn.sofifa.org/48/18/players/190871.png', 'Brazil', 'https://cdn.sofifa.org/flags/54.png', '92', '94', 'Paris Saint-Germain', 'https://cdn.sofifa.org/24/18/teams/73.png', 'â‚¬123M', 'â‚¬280K', '2100', 2, '94', '56', '96', '82', '95', '92', '75', '81', '96', '89', '84', '9', '9', '15', '15', '11', '62', '190871', '36', '61', '75', '77', '21', '81', '90', '88', '81', '80', '33', '90', '78', '24', '53', '80', '83'),
 (3, '3', '176580', 'L. SuÃ¡rez', '30', 'https://cdn.sofifa.org/48/18/players/176580.png', 'Uruguay', 'https://cdn.sofifa.org/flags/60.png', '92', '92', 'FC Barcelona', 'https://cdn.sofifa.org/24/18/teams/241.png', 'â‚¬97M', 'â‚¬510K', '2291', 3, '88', '78', '86', '60', '91', '83', '77', '86', '86', '94', '84', '27', '25', '31', '33', '37', '77', '176580', '41', '69', '64', '86', '30', '85', '92', '93', '83', '87', '38', '77', '89', '45', '80', '84', '88'),
 (5, '5', '188545', 'R. Lewandowski', '28', 'https://cdn.sofifa.org/48/18/players/188545.png', 'Poland', 'https://cdn.sofifa.org/flags/37.png', '91', '91', 'FC Bayern Munich', 'https://cdn.sofifa.org/24/18/teams/21.png', 'â‚¬92M', 'â‚¬355K', '2143', 5, '79', '80', '78', '80', '89', '87', '62', '77', '85', '91', '84', '15', '6', '12', '8', '10', '85', '188545', '39', '84', '65', '83', '25', '81', '91', '91', '83', '88', '19', '83', '79', '42', '84', '78', '87'),
 (8, '8', '182521', 'T. Kroos', '27', 'https://cdn.sofifa.org/48/18/players/182521.png', 'Germany', 'https://cdn.sofifa.org/flags/21.png', '90', '90', 'Real Madrid CF', 'https://cdn.sofifa.org/24/18/teams/243.png', 'â‚¬79M', 'â‚¬340K', '2165', 8, '60', '60', '71', '69', '89', '85', '85', '85', '79', '76', '84', '10', '11', '13', '7', '10', '54', '182521', '85', '32', '93', '90', '63', '73', '79', '86', '90', '87', '69', '52', '77', '82', '74', '88', '82')]

In [12]:
%%sql
SELECT  nationality, club, count (id) as number_players   
FROM player_personal 
where nationality='Spain'
group by nationality, club order by number_players DESC limit 20;

 * postgresql://localhost/ea_test
20 rows affected.

[('Spain', 'CA Osasuna', 27),
 ('Spain', 'Athletic Club de Bilbao', 26),
 ('Spain', 'Real Valladolid', 25),
 ('Spain', 'Lorca Deportiva CF', 25),
 ('Spain', 'UD Las Palmas', 25),
 ('Spain', 'Real Sporting de GijÃ³n', 24),
 ('Spain', 'CD Lugo', 24),
 ('Spain', 'RCD Espanyol', 24),
 ('Spain', 'Levante UD', 24),
 ('Spain', 'Real Sociedad', 24),
 ('Spain', 'FC Barcelona B', 24),
 ('Spain', 'SD Eibar', 24),
 ('Spain', 'CD Numancia', 23),
 ('Spain', 'CÃ³rdoba CF', 23),
 ('Spain', 'Sevilla AtlÃ©tico', 22),
 ('Spain', 'AD AlcorcÃ³n', 22),
 ('Spain', 'CD Tenerife', 22),
 ('Spain', 'Real Zaragoza', 22),
 ('Spain', 'CÃ¡diz C.F.', 22),
 ('Spain', 'Deportivo AlavÃ©s', 22)]

In [13]:
%%sql 
select 
a.nationality, 
max(a.age)  as MAX_AGE, 
min(a.age)  as MIN_AGE, 
count(a.id) as num_players
from 
player_personal a inner join  player_attribute b on a.id=b.id   
where nationality like 'E%'
group by a.nationality 
order by a.nationality ASC
LIMIT 5;

 * postgresql://localhost/ea_test
5 rows affected.

[('Ecuador', '37', '19', 37),
 ('Egypt', '44', '20', 32),
 ('El Salvador', '32', '27', 2),
 ('England', '47', '16', 1632),
 ('Equatorial Guinea', '32', '20', 6)]

### SqlAlchemy Engine creation for cursors & exporting queries to pandas DataFrame

In [14]:

engine = create_engine('postgresql://localhost/ea_test')

### We can also use Pandas to create DataFrame from sql queries

In [15]:
df_query = pd.read_sql('SELECT * FROM player_attribute', engine)

In [16]:
df_query.head()

,pk,acceleration,aggression,agility,balance,ball_control,composure,crossing,curve,dribbling,...,reactions,short_passing,shot_power,sliding_tackle,sprint_speed,stamina,standing_tackle,strength,vision,volleys
0,0,89,63,89,63,93,95,85,81,91,...,96,83,94,23,91,92,31,80,85,88
1,1,92,48,90,95,95,96,77,89,97,...,95,88,85,26,87,73,28,59,90,85
2,2,94,56,96,82,95,92,75,81,96,...,88,81,80,33,90,78,24,53,80,83
3,3,88,78,86,60,91,83,77,86,86,...,93,83,87,38,77,89,45,80,84,88
4,4,58,29,52,35,48,70,15,14,30,...,85,55,25,11,61,44,10,83,70,11